In [1]:
pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ------------------ --------------------- 20.5/44.8 kB 640.0 kB/s eta 0:00:01
   ---------------------------------------- 44.8/44.8 kB 734.6 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
#import driver specific module
import pymysql

#create connection object
conobj=pymysql.connect(user="root",password="root",database="4pm")

#create cursor object to execute queries.
curobj=conobj.cursor()

#execute query
curobj.execute("insert into emp values('hr',444,'gajju',30000)")
curobj.execute("update emp set esal=esal+1000")

conobj.commit()

conobj.close()
print("done")

done

In [7]:

import pymysql
conobj=pymysql.connect(user="root",password="root",database="4pm")
curobj=conobj.cursor()
d=input("enter dept=")
eid=int(input("enter eid="))
ename=input("enter name=")
esal=float(input("enter sal="))
curobj.execute("insert into emp values(%s,%s,%s,%s)",(d,eid,ename,esal))
conobj.commit()
conobj.close()
print("record inserted")

enter dept= hr
enter eid= 600
enter name= vijay
enter sal= 70000

record inserted

In [1]:
from tkinter import *
from tkinter import messagebox
def insert():
    import pymysql
    conobj=pymysql.connect(user="root",password="root",database="4pm")
    curobj=conobj.cursor()
    d=e1.get()
    eid=int(e2.get())
    ename=e3.get()
    esal=float(e4.get())
    curobj.execute("insert into emp values(%s,%s,%s,%s)",(d,eid,ename,esal))
    conobj.commit()
    e1.delete(0,'end')
    e2.delete(0,'end')
    e3.delete(0,'end')
    e4.delete(0,'end')
    e1.focus()
    conobj.close()
    print("record inserted")  
    messagebox.showinfo('Result,Record inserted')


win=Tk()
win.state("zoomed")
win.configure(bg='yellow')
l1=Label(win,text='Edept',font=('',15,'bold'),bg='yellow')
e1=Entry(win,font=('',20,'bold'),bd=5)
l1.place(x=200,y=100)
e1.place(x=300,y=100)

l2=Label(win,text='Eid',font=('',15,'bold'),bg='yellow')
e2=Entry(win,font=('',20,'bold'),bd=5)
l2.place(x=200,y=170)
e2.place(x=300,y=170)

l3=Label(win,text='Ename',font=('',15,'bold'),bg='yellow')
e3=Entry(win,font=('',20,'bold'),bd=5)
l3.place(x=200,y=240)
e3.place(x=300,y=240)

l4=Label(win,text='Esal',font=('',15,'bold'),bg='yellow')
e4=Entry(win,font=('',20,'bold'),bd=5)
l4.place(x=200,y=310)
e4.place(x=300,y=310)

b1=Button(win,text='submit',font=('',10,'bold'),bd=3,command=insert)
b1.place(x=300,y=360)


win.mainloop()

In [29]:
import pymysql
conobj=pymysql.connect(user='root',password='root',database='4pm')
curobj=conobj.cursor()
curobj.execute("select * from emp")
#tup=curobj.fetchone()
#tup1=curobj.fetchmany(5)
#tup2=curobj.fetchall()
for i in curobj:
    print(i)
#print(tup)
#print(tup1)
#print(tup2)
conobj.close()

('hr', 102, 'monu', 12000.0)
('coding', 103, 'chintu', 22000.0)
('hr', 107, 'pintu', 23000.0)
('coding', 201, 'golu', 16000.0)
('hr', 109, 'bhola', 7000.0)
('hr', 501, 'jaiswal', 11000.0)
('accounts', 301, 'bablu', 46000.0)
('accounts', 302, 'sumit', 51000.0)
('accounts', 303, 'ashu', 46000.0)
('coding', 300, 'guddu', 11000.0)
('hr', 444, 'gajju', 31000.0)
('hr', 600, 'vijay', 70000.0)
('accounts', 299, 'sarvu', 50000.0)
('hr', 199, 'bholu', 34000.0)
('dev', 123, 'sumit', 5.0)

In [32]:
import pymysql
conobj=pymysql.connect(user='root',password='root',database='4pm')
curobj=conobj.cursor()
i=input("enter id=")
curobj.execute("select * from emp where eid=%s",(i,))

for tup in curobj:
    print(tup)

conobj.close()

enter id= 444

('hr', 444, 'gajju', 31000.0)